<!-- your html code here -->
<div class="m-5">
    <div class="row border-top pt-5">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quam, consectetur sit at nisi obcaecati. Consequuntur corporis deleniti explicabo nam quis, aut reiciendis modi commodi, reprehenderit rerum vel dolor natus.</p>
        <div class="row justify-content-md-center">
            <div class="col-10 pl-5 pt-2 pb-3 border rounded bg-light">
                <form>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-sm-3 col-form-label text-end"><strong>Your e-mail</strong></label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email">
                        </div>
                    </div>
                    <div class="form-group row pt-3">
                        <label for="exampleFormControlTextarea1" class="col-sm-3 col-form-label text-end"><strong>Your message</strong></label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
                        </div> 
                    </div>
                    <div class="pt-2 text-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>


