<!-- your html code here -->
<div class="m-5">
    <div class="row border-top pt-5">
        <div class="col-8">
            <div class="d-flex">
                <h2>
                    <span>The First Heading</span>
                    <span class="text-muted">Will Catch Your Eye</span>
                </h2>
            </div>
            <p>Vivamus nunc tellus, bibendum in metus in, dignissim consequat massa. Curabitur pharetra mi sit amet nisl faucibus, ac hendrerit dolor cursus. Aliquam erat volutpat. Fusce auctor urna enim, sit amet vestibulum dolor accumsan sed.</p>
        </div>
        <div class="col-4">
            <div class="text-end">
                <img class="rounded-circle img-fluid w-75" src="./assets/img/1.jpg" alt="Walter White">
            </div>
          
        </div>
    </div>
</div>

