<!-- your html code here -->
<div class="container-fluid m-5">
    <div class="row">
        <div class="col-8">
            <div class="d-flex">
                <h2>The First Heading</h2>
                <h2 class="ps-2 text-muted">Will Catch Your Eye</h2>
            </div>
            <p>Vivamus nunc tellus, bibendum in metus in, dignissim consequat massa. Curabitur pharetra mi sit amet nisl faucibus, ac hendrerit dolor cursus. Aliquam erat volutpat. Fusce auctor urna enim, sit amet vestibulum dolor accumsan sed.</p>
        </div>
        <div class="col-4">
          <img class="rounded-circle img-fluid w-75" src="./assets/img/1.jpg" alt="Walter White">
        </div>
    </div>
</div>

