<div class="container-fluid">    
        <div class="card mb-3 border-0">
            <div class="card-header fs-1 bg-transparent border-0 border-top mx-4 ps-4">Portfolio</div>
            <p class="mx-5"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum harum neque eaque. Mollitia minima provident neque? Nostrum cumque distinctio doloremque dicta facilis placeat, temporibus veritatis magnam architecto harum aliquam veniam delectus, qui omnis id perferendis culpa! Quos inventore laudantium facilis voluptatibus labore facere amet earum. Blanditiis dignissimos ullam error nesciunt.</p>
        </div>                
        <div class="card-group mx-5">
            <div class="card border-0 me-2">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body ps-0">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ipsum voluptatem eum quisquam! Itaque officia consequatur laborum. Amet doloremque omnis veniam blanditiis debitis impedit voluptates!?.</p>            
            </div>
            </div>
            <div class="card border-0 me-2">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body ps-0">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, architecto adipisci! Reprehenderit, facere assumenda alias, voluptatum laudantium consequatur temporibus incidunt excepturi obcaecati est fuga aspernatur?.</p>            
            </div>
            </div>
            <div class="card border-0 me-2">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body ps-0">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa tempore voluptates quidem magnam provident neque dolorum iste adipisci laboriosam, possimus recusandae nobis quibusdam? Rem, sit.</p>            
            </div>
            </div>
        </div>        
</div>