<!-- your html code here -->
<div class="container-fluid m-5">
    <div class="row">
        <div class="col-4">
            <img src="./assets/img/2.jpg" class="rounded-circle img-fluid w-75" alt="Typing on a keyboard" /> 
        </div>  
        <div class="col-7">
            <div class="d-flex justify-content-start">
                <h2>The Second Heading</h2>
                <h2 class="text-muted ps-2">is Pretty Cool Too.</h2>
            </div>       
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur sint placeat magni molestias eius dolores beatae enim, 
                dolor dolorum suscipit omnis doloribus architecto molestiae minus magnam commodi explicabo? Id architecto neque, eligendi perferendis sequi qui 
                laudantium quis suscipit voluptatum vero.
                </p>       
        </div>
    </div>     
</div>    



