<!-- your html code here -->
<div class="m-5 ">
                
    <div class="row pt-5 border-top">
        <div class="col-4 mt-5">
            <img src="./assets/img/2.jpg" class="rounded-circle img-fluid w-75" alt="Typing on a keyboard" /> 
        </div>  
        <div class="col-8">
            <div class="d-flex">
                <h2>
                    <span>The Second Heading</span>
                    <span class="text-muted">is Pretty Cool Too.</span>
                </h2>    
            </div>       
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur sint placeat magni molestias eius dolores beatae enim, 
                dolor dolorum suscipit omnis doloribus architecto molestiae minus magnam commodi explicabo? Id architecto neque, eligendi perferendis sequi qui 
                laudantium quis suscipit voluptatum vero.
                </p>       
        </div>
    </div>     
</div>    



